.burger-menu {
  position: fixed;
  inset: 0 0 0 auto;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0s 0.3s; /* задержка = время анимации контента */
}

.burger-menu.menu-active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0s 0s; /* мгновенно при открытии */
}

.burger-menu_content {
  position: absolute;
  inset: inherit;
  background-color: var(--color-white);
  width: 80%;
  height: 100%;
  padding: 4rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.burger-menu.menu-active .burger-menu_content {
  transform: translateX(0);
}

.burger-close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: 3.4rem;
  height: 3.4rem;
}
.burger-menu__block {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.burger-logo {
}
.burger-list {
}
.burger-nav__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.burger-list__item {
}
.burger-item__link {
  width: fit-content;
}
.font-text-16 {
}
