.footer-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  border-top: 0.1rem solid var(--color-stroke-light);

  @media (max-width: 767px) {
    gap: 2.4rem;
  }
}
.footer-up {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1.6rem;
  }
}
.footer-logo {
  font-family: Heading Now extrabold;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.social-icon {
  display: flex;
  gap: 0.4rem;
}
.social-icon__item {
  width: 3.2rem;
  height: 3.2rem;
}
.footer-middle {
  display: flex;
  justify-content: end;

  @media (max-width: 767px) {
    justify-content: unset;
  }

  p {
    color: #27292a;
  }
}
.footer-down {
  background-color: var(--color-blue);
  padding: 1.6rem;

  max-width: 1920px;
  margin: 0 auto;

  p {
    text-align: center;
    color: var(--color-white);
  }
}
