.footer-container {
  justify-content: space-between;
  align-items: center;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-top: 0.1rem solid var(--color-stroke-light);

  @media (max-width: 767px) {
    gap: 2.4rem;
    grid-template-columns: 1fr;
  }
}

.footer-container__item {
  &:nth-child(1) {
    @media (max-width: 767px) {
      grid-row: 1;
    }
  }
  &:nth-child(2) {
    justify-self: center;

    @media (max-width: 767px) {
      grid-row: 3;
      justify-self: unset;
    }
  }
  &:nth-child(3) {
    justify-self: end;

    @media (max-width: 767px) {
      grid-row: 2;
      justify-self: unset;
    }
  }
}
.footer-container__item-link {
  color: var(--color-blue);
  transition: 0.3s ease;

  &:hover {
    opacity: 0.5;
  }
}
.footer-logo {
  font-family: Heading Now extrabold;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.social-icon {
  display: flex;
  gap: 0.4rem;
}
.social-icon__item {
  width: 3.2rem;
  height: 3.2rem;
}
.footer-down {
  background-color: var(--color-blue);
  padding: 1.6rem;

  margin: 0 auto;

  p {
    text-align: center;
    color: var(--color-white);
  }
}
