header {
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  font-family: Heading Now extrabold;
  font-size: 3.2rem;
  line-height: 3.2rem;
}
.header-logo__img {
  width: 9.5rem;
  height: 4.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav {
  @media (max-width: 767px) {
    display: none;
  }
}
.header-nav__list {
  display: flex;
  gap: 2.4rem;
}
.header-list__item {
}
.header-item__link {
}
.header-lang {
  width: 6.2rem;
  height: 4rem;
}

.mobile-flex {
  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

/* burger-menu */

.burger {
  display: none;

  @media (max-width: 767px) {
    display: block;

    width: 4rem;
    height: 4rem;
  }
}
