.core-portfolio {
  margin-top: 6.4rem;

  @media (max-width: 767px) {
    gap: 3.2rem;
  }
}

/*  */

.container-portfolio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card-portfolio {
  padding: 3.2rem;
  border-radius: var(--border-r40);
  border: 0.1rem solid var(--color-stroke-light);

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  position: relative;
  user-select: none;

  @media (max-width: 767px) {
    border-radius: 2.4rem;
    padding: 2rem 1.4rem;

    gap: 1.6rem;
  }
}
.card-portfolio__img {
  height: 32rem;

  @media (max-width: 767px) {
    height: 20rem;
  }

  img {
    border-radius: var(--border-r24);
  }
}
.card-portfolio__content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @media (max-width: 767px) {
    gap: 1rem;
  }
}
.card-portfolio__content-head {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.card-portfolio__head-title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.card-portfolio__title-img {
  width: 4rem;
  height: 4rem;

  @media (max-width: 767px) {
    width: 3.2rem;
    height: 3.2rem;
  }
}
.card-portfolio__head-grade {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  padding: 0.6rem 1.2rem;
  border-radius: var(--border-r32);
  background-color: var(--color-primary-light);
}
.card-portfolio__grade-number {
}
.card-portfolio__grade-img {
  width: 1.6rem;
  height: 1.6rem;

  @media (max-width: 767px) {
    height: 1.2rem;
    width: 1.2rem;
  }
}
.card-block__prew {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 1rem;
}
.card-prew {
  color: var(--color-white);
  padding: 0.5rem 1.6rem;
  background-color: var(--color-blue);
  border-radius: var(--border-r32);

  white-space: nowrap;
}
.card-portfolio__content-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;

  text-align: center;
}
.card-portfolio_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  gap: 1.2rem;

  @media (max-width: 767px) {
    gap: 0.1rem;
  }

  .case-card__block-box {
    align-items: center;

    border: none;
  }
}

/*  */
.section-portfolio__block-btn {
  display: flex;
  justify-content: center;

  margin-top: 6.4rem;

  @media (max-width: 767px) {
    margin-top: 3.2rem;
  }
}
.section-portfolio__btn {
}

/* card-portfolio /// alt */

.card-portfolio__alt {
  min-width: 54.6rem;
  width: 54.6rem;

  @media (max-width: 767px) {
    min-width: 34.2rem;
    width: 34.2rem;
  }
}
