.card-insights {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  user-select: none;
  width: 35.6rem;
  min-width: 35.6rem;
}
.card-insights__img {
  height: 21.2rem;
}
.card-insights__content {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.card-insights__content-title {
}

.card-insights__content-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  letter-spacing: -0.1rem;
}

.card-insights__content-date {
}
