.section-tech {
  margin-top: 28rem;
}
.section-tech-two {
}
._container-tech {
  background-color: var(--color-blue);
}
.container-tech__img {
  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;

    @media (max-width: 767px) {
      height: 90rem;
    }
  }
}
.blue-section::after {
  content: "";
  position: absolute;
  bottom: -15rem;
  padding-bottom: 15rem;
  left: 0;
  width: 100%;
  background: inherit;
  z-index: 0;
}

.block-tech {
  padding: 5.2rem 4.8rem;
  border: 0.1rem solid var(--color-stroke-light);
  border-radius: var(--border-r24);
  background-color: var(--color-white);

  margin-top: -20rem;
  margin-bottom: 6.4rem;

  display: flex;
  justify-content: space-between;
  gap: 3rem;

  position: relative;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 2.4rem;

    margin-top: -30rem;
    margin-bottom: 4rem;

    padding: 3.2rem 2.4rem;
  }
}
.block-tech_hgroup {
  width: 45rem;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  @media (max-width: 767px) {
    width: unset;
    gap: 1.2rem;

    text-align: center;
  }
}
.tech-stack {
  width: 54rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  @media (max-width: 767px) {
    width: unset;

    flex-wrap: wrap;
  }
}
.tech-stack__block {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  @media (max-width: 767px) {
    gap: 0.4rem;
    justify-content: center;
  }
}
.tech-stack__box {
  display: flex;
  gap: 0.4rem;

  border-radius: var(--border-r32);
  border: 0.1rem solid var(--color-stroke-light);
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;

  @media (max-width: 767px) {
    gap: 0.2rem;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  }

  span {
    width: 3.2rem;
    height: 3.2rem;

    @media (max-width: 767px) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

/*  */

.core-tech {
  position: relative;
}
.core-tech__hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  p {
    text-align: center;
    color: var(--color-white);
  }
}
.container-tech-title {
  color: var(--color-white);
  text-align: center;
}
.container-tech {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 2.4rem;

  margin-top: 6.4rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 1rem;

    margin-top: 2.4rem;
  }
}
.tech-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0 1.6rem;

  @media (max-width: 767px) {
    gap: unset;
  }
}
.number {
  color: var(--color-white);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}
.number-symbol {
}
.number-symbol__proc {
  font-size: 4rem;
  line-height: 4rem;

  position: relative;
  top: 1.4rem;

  @media (max-width: 767px) {
    font-size: 3.2rem;
    line-height: 3.2rem;

    top: 0.3rem;
  }
}
.number-symbol__plus {
}
.number-symbol__text {
}
.number-symbol__text-2 {
  font-size: 4rem;
  line-height: 4rem;

  position: relative;
  top: 1.4rem;
  left: 1rem;

  @media (max-width: 767px) {
    font-size: 3.2rem;
    line-height: 3.2rem;

    top: 0.3rem;
  }
}
.tech-card__hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  text-align: center;

  @media (max-width: 767px) {
    gap: 0.5rem;
  }
}
.tech-card__hgroup-title {
  color: var(--color-white);
}
.tech-card__hgroup-text {
  color: var(--color-white);

  font-weight: 400;
}

/* one */

.block-tech_two {
  padding: 4.8rem;
  border: 0.1rem solid var(--color-stroke-light);
  border-radius: var(--border-r24);
  background-color: var(--color-white);
}
.block-tech_two-hgroup {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  text-align: center;

  p {
    color: var(--color-gray-text);
  }
}
.block-tech_two-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.6rem;

  margin-top: 3.2rem;
}
.block-tech_two__box-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;

  padding: 2.4rem;
  border: 0.1rem solid var(--color-stroke-light);
  border-radius: var(--border-r16);

  min-height: 43rem;

  p {
    text-align: center;
  }
}
.block-tech_two__box-card__img {
  width: 9.6rem;
  height: 9.6rem;
}

/* two */

.block-tech_three-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;

  margin-top: 3.2rem;
}
.block-alt__tech-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;

  text-align: center;

  padding: 2.4rem;
  border: 0.1rem solid var(--color-stroke-light);
  border-radius: var(--border-r16);
}
.block-alt__tech-card__img {
  width: 12.8rem;
  height: 14.8rem;
}
.block-alt__tech-card__hgroup {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;

  h3 {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .block-alt__tech-card__hgroup-img {
    width: 2.8rem;
    min-width: 2.8rem;
    height: 2.8rem;
  }

  p {
    background-image: var(--color-gradient);
    background-clip: text;
    color: transparent;

    width: fit-content;
  }
}

/* three */

.block-tech_foo-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 3.2rem;
}
