.container-ai {
  display: flex;
  align-items: center;
  gap: 7rem;
}
.contianer-ai__img {
  width: 47rem;
  height: 47rem;
}
.container-ai__content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  width: 58rem;
}
.section-ai__head {
  .hgroup-head__title {
    /* font-family: Heading Now bold; */
    white-space: nowrap;
  }
}
.ai-content__advantages {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.content-advantages__block {
  display: flex;
  gap: 0.8rem;
}
.content-advantages__box {
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  border-radius: var(--border-r32);
  border: 0.1rem solid var(--color-stroke-light);

  display: flex;
  gap: 0.4rem;

  span {
    width: 3.2rem;
    height: 3.2rem;
  }

  p {
    white-space: nowrap;
  }
}

.section-ai__btn {
  width: fit-content;
}
