.container-hero__btn {
  display: grid;
  grid-template-columns: repeat(2, 18rem);
  justify-content: center;
  gap: 1.2rem;

  margin-top: 4rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;

    margin-top: 2rem;
  }
}

.container-hero__btn-one {
}

.container-hero__btn-two {
}

/* carusel */
.carusel-container {
  padding: 3.2rem 0 0;
  overflow: hidden;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}

/* Градиент слева */
.carusel-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  background: linear-gradient(
    to right,
    var(--color-white) 0%,
    transparent 100%
  );
  z-index: 2;
  pointer-events: none; /* Чтобы можно было кликать сквозь градиент */

  @media (max-width: 767px) {
    display: none;
  }
}

/* Градиент справа */
.carusel-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20rem;
  background: linear-gradient(to left, var(--color-white) 0%, transparent 100%);
  z-index: 2;
  pointer-events: none;

  @media (max-width: 767px) {
    display: none;
  }
}

.carusel {
  display: flex;
  gap: 4.8rem;
  animation: carousel-scroll 25s linear infinite;

  @media (max-width: 767px) {
    gap: 2rem;
    animation: carousel-scroll 20s linear infinite;
  }
}

.carusel-item {
  width: 18rem;
  height: 4.8rem;
  flex-shrink: 0;

  @media (max-width: 767px) {
    width: 15.5rem;
  }
}

/* Точный расчет для 13 элементов */
@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    /* 13 элементов: 13 промежутков между ними */
    /* Формула: (ширина элемента * количество) + (gap * (количество - 1)) */
    /* = (18rem * 13) + (4.8rem * 13) */
    /* = 234rem + 57.6rem = 291.6rem */
    transform: translateX(calc(-18rem * 13 - 4.8rem * 13));
  }
}

/* возможно придется удалить */
/* .carusel-container:hover .carusel {
  animation-play-state: paused;
} */

/*  */

.img-animation-block {
}

.img-animation {
  height: 60rem;
  width: 100%;
  position: relative;

  overflow: hidden;

  @media (max-width: 767px) {
    height: 35rem;
  }
}

.img-animation__item {
  margin-top: 170rem;
  width: 20rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 2.4rem;
  overflow: hidden;
  will-change: transform;

  @media (max-width: 767px) {
    margin-top: 91rem;

    height: 27rem;
    width: 14rem;
  }
}
