.card-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  user-select: none;
  min-width: 35.6rem;
  width: 35.6rem;
  min-height: 45rem;
  padding: 2.4rem;
  border: 0.1rem solid var(--color-stroke-light);
  border-radius: var(--border-r16);
}
.card-comment__img {
  width: 12.8rem;
  height: 14.6rem;
}

.card-comment__hgroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.card-comment__hgroup-title {
}
.card-comment__hgroup-text {
  color: var(--color-gray-text);
}
.card-comment__content-quote {
  text-align: center;
}