.container-process {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  margin-top: 6.4rem;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);

    margin-top: 3.2rem;
  }
}
.process-card {
  padding: 3.2rem;
  border-right: 0.1rem solid var(--color-stroke-light);

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  @media (max-width: 767px) {
    border-bottom: 0.1rem solid var(--color-stroke-light);
    border-right: unset;

    gap: 2rem;

    padding: 2.4rem 1.6rem;
  }

  &:last-child {
    border-right: unset;

    @media (max-width: 767px) {
      border-bottom: unset;
    }
  }
}
.process-card__img {
  width: 5.6rem;
  height: 5.6rem;
}
.process-card__hgroup {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.process-card__hgroup-title {
  text-transform: uppercase;
}
.process-card__hgroup-text {
  color: var(--color-gray-text);
}
