.container-pub {
  display: grid;
  grid-template-columns: 47rem 1fr;
  gap: 7rem;

  align-items: center;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.6rem;
  }
}

.container-pub__img {
  height: 47rem;

  @media (max-width: 767px) {
    height: 32rem;
  }
}
